body {
    padding-top: 0;
    padding-bottom: 3%;
    background-color: rgba(188, 188, 188, 0.03);
    background: url('http://www.remaxhmg.com/images/bgbackgroundbgbackgroundbgbackground.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

#app-title {
    margin-bottom: 1%;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
}

#app-header-container {
    background-color: #404040;
    color: white;
    margin-bottom: 4px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

#steps-container {
    margin-top: 3%;
}

.sub-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1%;
    padding-top: 0;
    font-size: 19px;
    
}

#autoThumbnail {
    max-width: 200px;
}

.img-center {
    margin-left: auto; 
    margin-right: auto;
}

.checkbox-col {
    padding-right: 2.8%;
}

.tweet-custom-textarea {
    font-size: 25px;
}

#success-tweet {
    display: none;
}

.auto-tweet-text {
    font-size: 21px;
}

.settings-row {
    margin-bottom: 2%;
}

.auto-tweet-text-checkbox {
    margin-top: 0;
}

.auto-tweeting-label {
    font-size: 21px;
}

.custom-tweet {
    width: 519px;
    height: 110px !important;
}

.custom-tweet-label {
    font-weight: bold;
}

.inventory-row {
    margin-bottom: 3%;
}

#auto-inventory-container {
    margin-top: 2%;
}
#login-cta {
    display: block;
    margin-top: 3%;
}

.package {
    background-color: white;
    padding-bottom: 3%;
}

.dark-bg {
    background-color: #404040;
    color: white;
    padding-top: 1%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#pricing-container {
    margin-top: 3%;
}

.price-text {
    margin-bottom: 0;
}

.package-header {
    height: 57px;
    color: #FFF;
    line-height: 57px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    padding-top: 4%;
}


.best-value .package-header .meta-text {
    font-size: 13px;
    line-height: normal;
}

#tweet-auto-inventory {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    margin-top: 1%;
}

.auto-text {
    font-size: 20px;
}