<div class="row">
    <div class="col-md-12" id="app-header-container">
        <h3 class="text-center" id="app-title">Share My Realty</h3>
        <p class="sub-title">Share your listings on Facebook and Twitter Automatically!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="#/auto-dealer-inventory" class="btn btn-success pull-right">Login</a> 
    </div>
</div>
<!-- Navigation
<div class="row">
    <div class="col-md-12">
        <a href="#/auto-dealer-inventory" class="btn btn-success" 
            id="login-cta">Login</a>    
    </div>
</div>
-->
<!--
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <img src="img/social.jpg" class="img-resonsive img-center">
    </div>
</div>
-->
<div class="col-md-8 col-md-offset-2" id="pricing-container">
    <div class="row">
       <div class="package-box-wrap col-lg-4 col-md-6 col-sm-6">
          <div class="package" data-scrollreveal="enter left after 0s over 1s" data-sr-init="true" data-sr-complete="true">
             <div class="package-header" style="background:#3ab0e2">
                <h5>STANDARD</h5>
             </div>
             <div class="price dark-bg">
                <div class="price-container">
                   <h4 class="price-text"><span class="dollar-sign">$</span>20</h4>
                   <span class="price-meta">/ MO</span>
                </div>
             </div>
             <ul>
                <li>100GB Storage</li>
                <li>All Themes</li>
                <li>Access to Tutorials</li>
                <li>Auto Backup</li>
                <li>Extended Security</li>
             </ul>
             <div class="row">
                 <div class="col-md-12 text-center">
                     <a href="#" class="btn btn-primary custom-button" style="background:#3ab0e2">SIGN UP</a>
                 </div>
             </div>
          </div>
       </div>
       <div class="package-box-wrap col-lg-4 col-md-6 col-sm-6">
          <div class="best-value">
             <div class="package" data-scrollreveal="enter left after 0s over 1s" data-sr-init="true" data-sr-complete="true">
                <div class="package-header" style="background:#e96656">
                   <h4 class="price-text">PREMIUM</h4>
                </div>
                <div class="price dark-bg">
                   <div class="price-container">
                      <h4 class="price-text"><span class="dollar-sign">$</span>35</h4>
                      <span class="price-meta">/MO</span>
                   </div>
                </div>
                <ul>
                   <li>100GB Storage</li>
                   <li>All Themes</li>
                   <li>Access to Tutorials</li>
                   <li>Auto Backup</li>
                   <li>Extended Security</li>
                </ul>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#" class="btn btn-primary custom-button" style="background:#e96656">SIGN UP</a>
                    </div>
                </div>
             </div>
          </div>
       </div>
       <div class="package-box-wrap col-lg-4 col-md-6 col-sm-6">
          <div class="package" data-scrollreveal="enter left after 0s over 1s" data-sr-init="true" data-sr-complete="true">
             <div class="package-header" style="background:#e7ac44">
                <h5>ULTIMATE</h5>
             </div>
             <div class="price dark-bg">
                <div class="price-container">
                   <h4 class="price-text"><span class="dollar-sign">$</span>99</h4>
                   <span class="price-meta">/MO</span>
                </div>
             </div>
             <ul>
                <li>100GB Storage</li>
                <li>All Themes</li>
                <li>Access to Tutorials</li>
                <li>Auto Backup</li>
                <li>Extended Security</li>
             </ul>
             <div class="row">
                 <div class="col-md-12 text-center">
                     <a href="#" class="btn btn-primary custom-button" style="background:#e7ac44">SIGN UP</a>
                 </div>
             </div>
          </div>
       </div>
    </div> 
</div>